/* 返回鍵及桌號開始 */
.cart-width {
    width: 350px;
}

.goback-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    width: 100%;
    font-size: 1.5em;
    background-color: rgba(247, 230, 174, 1);
}

.goback-content > div {
    font-weight: 600;
}

#table-number {
    margin-left: 5px;
}

.goback-content > a {
    text-decoration: none;
    color: black;
}

.bi-arrow-left-short {
    font-size: 2em;
}

/* 返回鍵及桌號結束 */

/* 購物車開始 */

.cart-content {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 5px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}

.cart-title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    padding: 5px;
    border-bottom: 1px solid black;
}

.order-list {
    /* background-color: pink; */
    margin-top: 5px;
    height: 65vh;
    overflow: auto;
}

/* 自定義scrollbar開始 */
.order-list::-webkit-scrollbar {
    width: 10px;
}
  

.order-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


.order-list::-webkit-scrollbar-thumb {
    background: rgba(247, 230, 174, 1);
    border-radius: 10px;
}

.order-list::-webkit-scrollbar-thumb:hover {
    background: rgba(230, 151, 98, 1);
}

.order-list::-webkit-scrollbar-button {
    background: none;
}

/* 自定義scrollbar結束 */

#order-btn-content {
    margin-top: auto;
    margin-bottom: 20px;
}

#order-btn {
    background-color: rgba(54, 27, 18, 1);
    color: #fff;
    font-size: 1.25em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

#order-quantity {
    margin-inline: 5px;
}

.no-item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-item {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0px 15px 0px 0px;
    margin-bottom: 10px;
    width: 100%;
    height: 80px;
    color: black;
}

.cart-item-img {
    /* width: 60px; */
    height: 100%;
    object-fit: cover;
}

.cart-info  {
    margin-left: 3px;
    margin-right: auto;
}

.cart-info-title {
    font-size: 14px;
    margin-bottom: 5px;
}

.price {
    display: flex;
}

.price > p {
    margin: 0;
}

.bi-trash {
    font-size: 24px;
}

.cart-item > .bi-trash:hover {
    color: red;
}



/* 購物車結束 */

/*  品項區開始 */
.tab {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(247, 230, 174, 1); 
    padding-left: 20px;
    height: 75px;
    background-color: rgba(48, 48, 48, 1);
}

.tablinks {
    outline: none;
    border: none;
    font-size: 2em;
    /* width: 200px; */
    padding: 10px 15px;
    text-align: center;
    background-color: transparent;
    border-bottom: 5px solid transparent;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.tablinks:hover, .tablinks:focus {
    border-bottom: 5px solid rgba(247, 230, 174, 1);
    color: rgba(247, 230, 174, 1);
}
/* 品項種類導覽列結束 */

.tabcontent {
    width: 100%;
    background-color: rgba(48, 48, 48, 1);
    height: calc(100% - 75px);
    overflow-y: scroll;
    padding: 0px 100px 150px 10px;
}


/* scrollbar自定義 */
.tabcontent::-webkit-scrollbar {
    width: 10px;
}
  

.tabcontent::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


.tabcontent::-webkit-scrollbar-thumb {
    background: rgba(247, 230, 174, 1);
    border-radius: 10px;
}

.tabcontent::-webkit-scrollbar-thumb:hover {
    background: rgba(230, 151, 98, 1);
}

.tabcontent::-webkit-scrollbar-button {
    background: none;
}
/* scrollbar自定義 */

.row {
    margin: 0 !important;
}

.item {
    margin-top: 20px;
}

.mycard {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: #fff;
    height: 100px;
}

.menu-img {
    object-fit: cover;
}

.mycard-body {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    padding-right: 10px;
}

.body-info {
    flex: 55%;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25em;
    margin-left: 10px;
}

.card-text {
    margin-left: 10px;
    font-size: 16px;
}

.card-btn-group {
    font-size: 1.5em;
    display: flex;
    height: auto;
    border: 1px solid black;
}

.item-count {
    text-align: center;
    width: 40px;
    user-select: none;
}

.bi-dash, .bi-plus {
    background-color: black;
    color: #fff;
    aspect-ratio: 1 / 1;
    width: 40px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
